/* This has to be edited !! */
.social-icons{
    margin: 0.5rem;
}

.tech{
    margin: 0.5rem;
    padding: 0.5rem;
    height: 3.5rem;
}

.work{
    height: 10rem;
}

.job-title{
    font-style: italic;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.smg{
    padding: 0.5rem;
}

.ins{
    padding: 2.5rem;
}

.logos-section{
    margin-bottom: 1.2rem;
}

.footer-social-icons{
    margin-top: 0.5rem;
    margin-right: 1rem;
}

.mail-form{
    margin-top: 0.5rem;
}

.profile-pic{
    height: 15rem;
    width: 15rem;
    margin: 2rem 1rem;
}

.app-section{
    padding: 2.5rem;
    align-items: center;
    align-content: center;
}


.about-section{
    text-align: center;
    font-size: medium;
}

.intro-head{
    font-weight: bold;
}

.intro-sub{
    font-style: italic;
}

.intro-body{
    font-weight: normal;
}